{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<style>

.reset-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:120px 20px 40px;

background:
    linear-gradient(
        var(--hero-overlay-a),
        var(--hero-overlay-b)
    ),
   url("{% static 'images/forgot.png' %}");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.reset-card{

    width:100%;
    max-width:600px;

    background:var(--reg-panel);

    backdrop-filter:blur(10px);

    border:1px solid var(--border-strong);

    border-radius:25px;

    padding:45px;

    color:var(--hero-text);

    box-shadow:var(--shadow-rich);
}

.lock-icon{
    font-size:65px;
    text-align:center;
    margin-bottom:10px;
}

.reset-card h2{
    text-align:center;
    font-weight:700;
    margin-bottom:15px;
}

.reset-card p{
    text-align:center;
    color:var(--hero-muted);
    margin-bottom:25px;
}

.reset-card label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
    color:var(--hero-muted);
}

.reset-card input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:16px;
    background:var(--bg-input);
    color:var(--text-primary);
    border:1px solid var(--border-strong);
}

.reset-btn{
    width:100%;
    margin-top:20px;
    padding:15px;

    border:none;
    border-radius:12px;

    background:var(--accent);

    color:var(--on-accent);
    font-size:17px;
    font-weight:bold;

    cursor:pointer;
}

.reset-btn:hover{
    background:var(--accent-hover);
}

.back-btn{

    display:block;
    text-align:center;

    margin-top:18px;

    text-decoration:none;

    color:var(--hero-text);

    padding:12px;

    border-radius:12px;

    border:1px solid var(--border-strong);

    transition:.3s;
}

.back-btn:hover{

    background:var(--input-transp);

    color:var(--hero-text);
}

.ftms-text{
    text-align:center;
    color:var(--accent);
    font-weight:bold;
    margin-bottom:15px;
    letter-spacing:2px;
}

</style>

<div class="reset-page">

    <div class="reset-card">

        <div class="ftms-text">
           ⚽ FTMS
        </div>

        <div class="lock-icon">
            🔐
        </div>

        <h2>Forgot Password?</h2>

        <p>
            No worries. Enter your registered email address and
            we'll send you a secure password reset link.
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.email.label_tag }}

            {{ form.email }}

            <button type="submit" class="reset-btn">
                Send Reset Link
            </button>

        </form>

        <a href="{% url 'login' %}" class="back-btn">
            ← Back to Login
        </a>

    </div>

</div>

{% endblock %}