.hero{

    height:100vh;

   background:url('/static/images/homebg.png') no-repeat;

    background-size:cover;

    background-position:center;
}

.overlay{

    background:rgba(0,0,0,0.7);

    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;
}

.home-content{

    width:800px;
}

.home-content h1{

    font-size:70px;

    margin-bottom:25px;

    color:#00ff88;
}

.home-content p{

    font-size:22px;

    line-height:1.8;

    margin-bottom:40px;
}

.buttons a{

    display:inline-block;

    margin:15px;

    padding:15px 35px;

    background:#00ff88;

    color:black;

    text-decoration:none;

    border-radius:10px;

    font-weight:bold;

    transition:0.3s;
}

.buttons a:hover{

    transform:scale(1.05);

    background:white;
}