.login-selection-page{
    width:100%;
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('/static/images/loginbg.jpg');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    text-align:center;
}

.overlay h1{
    color:white;
    font-size:55px;
    margin-bottom:40px;
}

.role-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.role-grid button{
    width:280px;
    padding:18px;

    border:none;
    border-radius:12px;

    background:#16a34a;
    color:white;

    font-size:20px;
    font-weight:bold;

    cursor:pointer;
    transition:0.3s;
}

.role-grid button:hover{
    transform:translateY(-5px);
    background:#15803d;
}