<a href="{% url 'create_tournament' %}"
   class="btn btn-success mb-4">

    Create Tournament

</a>
{% extends 'common/base.html' %}

{% block content %}

<div class="dashboard-container">

    <h1>
        Organizer Dashboard
    </h1>

    <div class="dashboard-cards">

        <a href="" class="dashboard-card">

            Create Tournament

        </a>

        <a href="" class="dashboard-card">

            Tournament List

        </a>

        <a href="" class="dashboard-card">

            Approve Teams

        </a>

        <a href="" class="dashboard-card">

            Match Schedule

        </a>

    </div>

</div>

{% endblock %}