<footer class="footer">

    <div class="footer-container">

        <!-- LEFT -->

        <div class="footer-section">

            <h2>

                ⚽ FTMS

            </h2>

            <p>

                Football Tournament
                Management System

            </p>

            <p>

                Professional football software
                for organizers, clubs,
                coaches and players.

            </p>

            <p>

                © 2026 FTMS Nepal

            </p>

        </div>


        <!-- MIDDLE -->

        <div class="footer-section">

            <h3>

                Quick Links

            </h3>

            <a href="/">Home</a>

            <a href="/tournaments/">

                Tournaments

            </a>

            <a href="/login-selection/">

                Login

            </a>

            <a href="/login-selection/">

                Register

            </a>

        </div>


        <!-- RIGHT -->

        <div class="footer-section">

            <h3>

                Contact Info

            </h3>

            <p>

                📧 ftmsnepal@gmail.com

            </p>

            <p>

                📞 +977-9828887738

            </p>

            <p>

                📍 Kathmandu, Nepal

            </p>

        </div>

    </div>


    <!-- BOTTOM BAR -->

    <div class="footer-bottom">

        Developed by: <br>
        Anil Gautam <br>
        Roshan Adhikari

        <br>

        BCA 4th Semester |
        Milton International College

        <br>

        Affiliated to
        Tribhuvan University

    </div>

</footer>