<footer class="footer">

    <div class="footer-container">

        <!-- LEFT -->
        <div class="footer-box">

            <h2>⚽ FTMS</h2>

            <p>

                Professional Football Tournament
                Management System for Nepal.

            </p>

            <p>

                Organize tournaments,
                manage clubs, players,
                fixtures and live standings.

            </p>

        </div>

        <!-- MIDDLE -->
        <div class="footer-box">

            <h3>Quick Links</h3>

            <ul>

                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>

                <li>
                    <a href="#">
                        Tournament
                    </a>
                </li>

                <li>
                    <a href="{% url 'login_selection' %}">
                        Login
                    </a>
                </li>

            </ul>

        </div>

        <!-- RIGHT -->
        <div class="footer-box">

            <h3>Contact</h3>

            <p>📍 Kathmandu, Nepal</p>

            <p>📞 9800000000</p>

            <p>📧 ftms@gmail.com</p>

        </div>

    </div>

    <!-- Bottom -->
    <div class="footer-bottom">

        Developed by:
        <br>

        Anil Gautam & Roshan Adhikari

        <br><br>

        BCA 4th Semester |
        Milton International College

        <br>

        Affiliated to Tribhuvan University

    </div>

</footer>