{% extends 'common/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet"
      href="{% static 'css/home.css' %}">

<section class="hero">

    <div class="overlay">

        <div class="home-content">

            <h1>

                Football Tournament
                Management System

            </h1>

            <p>

                Professional football software
                for organizers, clubs,
                coaches and players.

            </p>

            <div class="buttons">

                <a href="/login-selection/">

                    Login System

                </a>

                <a href="/tournaments/">

                    Available Tournament

                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}