{% extends 'common/base.html' %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}

<section class="home-page">

    <div class="overlay">

        <div class="home-content">

            <h1>
                Football Tournament <br>
                <span>Management System</span>
            </h1>

            <p>

                Manage football tournaments,
                clubs, players, fixtures,
                standings and statistics
                professionally.

            </p>
            <div class="home-buttons">

                <a href="{% url 'login_selection' %}" class="btn btn-login-home">
                    🔐 Login System
                </a>

                <a href="{% url 'tournament_list' %}" class="btn btn-tournament-home">
                    🏆 Available Tournament
                </a>

            </div>
        </div>

    </div>

</section>

{% endblock %}