<nav class="navbar">

    <div class="logo">

        ⚽ FTMS

    </div>

    <ul class="nav-links">

        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/tournaments/">

                Tournaments

            </a>
        </li>

        <li>
            <a href="/login-selection/">

                Login

            </a>
        </li>

    </ul>

    <div class="admin-btn">

        <a href="/admin/">

            Admin Login

        </a>

    </div>

</nav>