{% load static %}

<nav class="navbar">

    <div class="logo">

        <a href="{% url 'home' %}">
            ⚽ FTMS
        </a>

    </div>

    <ul class="nav-links">

        <li>
            <a href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li>
            <a href="#">
                Tournaments
            </a>
        </li>

    </ul>

    <div class="nav-buttons">

        <a href="{% url 'login_selection' %}"
           class="login-btn">

            Login

        </a>

        <!-- Django Admin -->
        <a href="/admin/"
           class="admin-btn">

            ⚙ Admin

        </a>

    </div>

</nav>